
@{
    ViewData["Title"] = "Product Category";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<div class="text-center">
    <div class="col-lg-12">
        
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">

                    <table id="productCategoriesTableId" class="table table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script>
        var baseUrl = "@Url.Content("~/")";
        $(function () {
            loadProductCategories();
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    loadProductCategories();
                }
            });
        })

        function loadProductCategories() {
            $('#productCategoriesTableId').dataTable().fnDestroy();
            $('#productCategoriesTableId').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ordering": true,
                "deferRender": true,
                "drawCallback": function () {
                    $("#dataTable_wrapper").children().eq(1).css("overflow", "auto");
                },
                "ajax": {
                    "type": "POST",
                    "url": baseUrl + "ProductCategory/GetSearchResult",
                    "datatype": "json",
                    "contentType": "application/json; charset=utf-8",
                    "headers": { 'RequestVerificationToken': $('#__RequestVerificationToken').val() },
                    "data": function (data) {
                        return JSON.stringify(data);
                    }
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                    {
                        "targets": 2,
                        "data": "edit_link",
                        "render": function (data, type, row, meta) {
                            return "<button type='button' class='btn btn-primary mr-1' onclick=editProductCategory('" + row.id + "'); >Edit</button><button type='button' class='btn btn-danger' onclick=deleteProductCategory('" + row.id + "'); >Delete</button>";
                        }
                    }
                ],
                "columns": [
                    { "data": "id", "name": "Id", "autoWidth": true},
                    { "data": "name", "name": "Name", "autoWidth": true},
                ],
             "order":[0,"desc"]
            })
        }
    </script>
}
