@model ECom.Web.Models.ProductSearchParameter
@{
    ViewData["Title"] = "Product";
    var parentDivModel = new ModalDialogViewModel { ParentDivId = "divProduct" };
}
<environment names="Development">
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
</environment>

<div class="box">
    <div class="box-body table-responsive">
        <!-- Create the drop down filter -->
        <div id="divCategoryFilter">
            <label id="lblCategotyFilter"> Category:</label>
            <select style="width:60%" class="custom-select" id="filterProductCategoryId"  asp-items="Model.ProductCategorySelectList"></select>
        </div>
        <table class="table table-bordered table-hover" id="productTableId" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SKU</th>
                    <th>slug</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<partial name="ModalDialog" model="@parentDivModel" />
@section Scripts{
    <script src="~/js/Product/index.js"></script>
    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>
}
