@{
    ViewData["Title"] = "Product";
    var parentDivModel = new ModalDialogViewModel { ParentDivId = "divProduct" };
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />

<div class="text-center">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="productTableId" class="table table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>SKU</th>
                                <th>slug</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="ModalDialog" model="@parentDivModel" />
@section Scripts{
    <environment names="Development">
        <script src="~/lib/sweetalert/dist/sweetalert-dev.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    </environment>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/Product/index.js"></script>
    <script>
        var baseUrl = "@Url.Content("~/")";

    </script>
}
